
<h1>Chats Available:</h1>
<div ng-repeat="m in mainCtrl.chatList" style="align-content: top; text-align: left;right: 0;
top: 0;">
    <!-- This card prodives space for the message and Like/dislike buttons -->
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <!-- Card Title is the person who write the message -->
                    <span class="card-title"><strong>{{m.cName}}</strong></span>
                    <p><strong>Created On:</strong>  {{m.cTime}}
                    </p>
                </div>
                <div class="card-action">
                    <button class="btn waves-effect waves-light " style="font-size: 25px" type="submit" name="action" ng-click="goToChat(m.cID)">Enter
                        <i class="material-icons prefix">send</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-cloak style="align-content: center; text-align: left">
    <!-- Here come the messages in the chat, each one presented in card -->
    <center><div class="card yellow darken-2" style="width: 100%; height:35%; align-content: center;position: fixed;right: 0;
top: 0;">
        <div class="card-content" style="padding:2px">
            <span class="card-title"><h4>Create Chat</h4></span>
            <form ng-submit="create()">
                <input type="text" placeholder="Chat Name" name='chat' ng-model="chatForm.cname" required style="text-align: center; background-color: white; color: darkgray; height:30px">
                <input class="btn waves-effect waves-light blue darken-2" type="submit" style="width:100%; font-size:20px; height: 30px; color:white" value="Create Chat">
            </form>
        </div>
        <a class="btn waves-effect waves-light green" style="font-size: 20px; color:white; height:30px; margin: 4px" ng-click="goToContacts()"><i class="material-icons">account_box</i>    Add Contact</a>
        <a class="btn waves-effect waves-light red" style="font-size: 20px; color:white; align-content: center; height:30px; margin: 4px" ng-click="goToFeed()"><i class="material-icons">backspace</i>    Go Back</a>
    </div></center>


</div>