

<div ng-cloakstyle="align-content: top; text-align: left;right: 0; top: 0;">
    <!-- Here come the messages in the chat, each one presented in card -->
    <center><div id="menu" class="card yellow darken-2" style="width: 100%; height:35%; align-content: center;position: fixed;right: 0;
top: 0;">
        <a class="btn waves-effect waves-light blue darken-1" style="font-size: 17px; height:18%; color:white; align-content: center; border: none; margin: 5px; padding: 0" ng-click="goToTherapy()">Pet Therapy</a>
        <a class="btn waves-effect waves-light blue darken-1" style="font-size: 17px; height:18%; color:white; align-content: center; border: none; margin: 5px; padding: 0" ng-click="goToPost()">Post</a>
        <a class="btn waves-effect waves-light blue darken-1" style="font-size: 17px; height:18%; color:white; aling-content: center; border: none; margin: 5px; padding: 0" ng-click="goToSetting()">Profile Settings</a>
        <a class="btn waves-effect waves-light blue darken-1" style="font-size: 17px; height:18%; color:white; align-content: center; border: none; margin: 5px; padding: 0" ng-click="goToChatList()">Chat Groups</a>
        <a class="btn waves-effect waves-light blue darken-1" style="font-size: 17px; height:18%; color:white; align-content: center; border: none; margin: 5px; padding: 0" ng-click="logOut()">Sign Out</a>
    </div></center>


</div>

<br><br><br><br><br><br><br><br><br><br>

<div ng-repeat="m in mainCtrl.chatList" style="top: 100; z-index:-1; position: relative; align-content: center">
    <!-- This card prodives space for the message and Like/dislike buttons -->
    <div class="row">
        <div class="col s12 m6">
            <p class="card">
                <p class="card-content">
                    <!-- Card Title is the person who write the message -->
            <span class="card-title">  <h3>{{m.cName}}</h3>     </span> Created On: {{m.cTime}}
                    <img style="width: 100%" src="{{m.url}}" alt="image">

                <div>{{m.text}}</div>
                </p>
        </div>
    </div>
</div>
