

<div ng-cloak style="align-content: top; text-align: left;right: 0;
top: 0;">
    <!-- Here come the messages in the chat, each one presented in card -->
    <center><div class="card yellow darken-2" style="width: 100%; height:15%; align-content: center;position: fixed;right: 0;
top: 0;">
        <a class="btn waves-effect waves-light purple" style="font-size: 20px; height:50%; color:white; align-content: center; border: none; margin: 5px; padding: 0" ng-click="backToNews()"><i class="material-icons">pets</i>Back To News Feed</a>
    </div></center>


</div>

<div ng-repeat="m in mainCtrl.chatList" style="z-index:-1; position: relative; align-content: center">
    <!-- This card prodives space for the message and Like/dislike buttons -->
    <div class="row">
        <div class="col s12 m6">
            <p class="card">
                <p class="card-content">
                    <!-- Card Title is the person who write the message -->
                    <img style="width: 100%" src="{{m.url}}" alt="image">

        </div>
    </div>
</div>
